/*Vinh Tam Tan- style Sheet for pie.html*/
body {
    background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
}

h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode, Helvetica, Arial, sans-serif";
    font-size: 18pt;
    font-weight: normal;
}

h1#titleId {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

p, li {
    color: #404040;
    font-size: 11pt;
    font-family: "Georgia, Garamond, serif";
}

.link {
    color: #A4A400;
}

.userComment {
    font-style: italic;
    background-color: #FFFFA8;
}